[submodule "rtags"]
	path = rtags
	url = https://github.com/Andersbakken/rtags
[submodule "Bear"]
	path = Bear
	url = https://github.com/rizsotto/Bear
[submodule "FsAutoComplete"]
	path = FsAutoComplete
	url = https://github.com/fsharp/FsAutoComplete.git
[submodule "Snippets/yasnippet-snippets"]
	path = Snippets/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets
